#firstID { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color:cornflowerblue;
    text-align: center;
    text-shadow: 2px 2px 2px #836096;
}

#pID { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #F0B86E;
    border-radius: 10px;
    box-shadow: 5px 10px #A2678A;
    background-color: white;
    color : #ED7B7B;
    text-decoration: none;
    cursor: pointer;
}